/* help botton */

.notion-help-button {
  display: none !important;
}

/* scroll bar */

.notion-scroller.vertical.horizontal {
  overflow: overlay !important;
  background-color: transparent !important;
}

.notion-scroller.vertical {
  overflow: hidden overlay !important;
  background-color: transparent !important;
}

.notion-scroller.horizontal {
  overflow: overlay hidden !important;
  background-color: transparent !important;
}
