/* This is injected after a web page loads */
/*
# Root
*/
@media (prefers-color-scheme: light) {
  :root {
    --color-editor-background: rgb(255 255 255) !important;
    --color-theme-value: 35, 131, 226;
    --color-text-tint: rgb(20 105 188) !important;
    --color-scroller-thumb-alt: rgba(0, 0, 0, 0.22) !important;
    --color-scroller-thumb-hover-alt: rgba(0, 0, 0, 0.44) !important;
    --color-header-alt: rgb(253, 253, 253) !important;
    --color-fake-vibrancy-menu: rgb(237, 237, 237) !important;
    --color-fake-vibrancy-windows: rgb(230, 230, 230) !important;
    --color-background-grey: rgb(244, 245, 245) !important;
    --color-text-menu: rgba(0, 0, 0, 0.85) !important;
    --shadow-menu-alt: rgba(0, 0, 0, 0.3) 0px 0px 0px 0.5px,
      rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important;
    --shadow-windows-alt: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px,
      rgba(0, 0, 0, 0.4) 0px 36px 100px 0px !important;
    --border-menu-alt: rgba(255, 255, 255, 0.5) !important;
    --border-windows-alt: rgba(255, 255, 255, 0.5) !important;
    --color-border-ui-alt: rgb(230, 230, 230) !important;
    --color-right-sidebar: rgb(235, 235, 235) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-editor-background: rgb(30 30 30) !important;
    --color-theme-value: 35, 131, 226;
    --color-text-tint: rgb(130 193 255) !important;
    --color-scroller-thumb-alt: rgba(255, 255, 255, 0.33) !important;
    --color-scroller-thumb-hover-alt: rgba(255, 255, 255, 0.66) !important;
    --color-header-alt: rgb(53, 53, 53) !important;
    --color-fake-vibrancy-menu: rgb(37, 37, 37) !important;
    --color-fake-vibrancy-windows: rgb(39, 38, 38) !important;
    --color-background-grey: rgb(41, 41, 41) !important;
    --color-text-menu: rgba(255, 255, 255, 0.85) !important;
    --shadow-menu-alt: rgba(0, 0, 0, 0.9) 0px 0px 0px 0.5px,
      rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important;
    --shadow-windows-alt: rgba(0, 0, 0, 0.4) 0px 0px 3px 0px,
      rgba(0, 0, 0, 0.4) 0px 36px 100px 0px !important;
    --border-menu-alt: rgba(255, 255, 255, 0.2) !important;
    --border-windows-alt: rgba(255, 255, 255, 0.2) !important;
    --color-border-ui-alt: rgb(0, 0, 0) !important;
    --color-right-sidebar: rgb(44, 44, 44) !important;
  }
}


.notion-topbar {
  z-index: 9999 !important;
  border-bottom: 1px solid var(--color-border-ui-alt) !important;
  background: var(--color-header-alt) !important;
}

/*
# Hider
*/

/*
## help botton
*/

.notion-help-button {
  display: none !important;
}

/*
# Fonts
*/

:root {
  --theme--font_sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", sans-serif;
  --theme--font_serif: "Seriflux", Lyon-Text, Georgia, "Songti SC", SimSun, serif;
  --theme--font_mono: iawriter-mono, Nitti, Menlo, Courier, monospace;
  --theme--font_code: var(--theme--font_mono);
  /*--theme--font_quote: var(--theme--font_sans);
  --theme--font_headings: var(--theme--font_sans);*/
}

[style*="Segoe UI"] {
  font-family: var(--theme--font_sans) !important;
}

[style*="Georgia"] {
  font-family: var(--theme--font_serif) !important;
}

[style*="iawriter-mono"] {
  font-family: var(--theme--font_mono) !important;
}

[style*="SFMono-Regular"] {
  font-family: var(--theme--font_code) !important;
}

/*
.notion-selectable.notion-quote-block div[spellcheck="true"] {
  font-family: var(--theme--font_quote) !important;
}
*/

/*
[placeholder="Heading 1"],
[placeholder="Heading 2"],
[placeholder="Heading 3"] {
  font-family: var(--theme--font_headings) !important;
}
*/

/*
# Scroller
*/

::-webkit-scrollbar {
  width: 14px !important;
  height: 14px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px !important;
  background-color: var(--color-scroller-thumb-alt) !important;
  background-clip: padding-box !important;
  border: solid 3px transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroller-thumb-hover-alt) !important;
}

::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

.notion-scroller.vertical.horizontal {
  overflow: overlay !important;
  background-color: transparent !important;
}

.notion-scroller.vertical {
  overflow: hidden overlay !important;
  background-color: transparent !important;
}

.notion-scroller.horizontal {
  overflow: overlay hidden !important;
  background-color: transparent !important;
}


/*
# Page Elements
*/

/*
## Background
*/

.notion-frame {
  background: var(--color-editor-background) !important;
}

/*
## the black mask
*/

*[style*="background: rgba(0, 0, 0, 0.4);"],
*[style*="background: rgba(15, 15, 15, 0.8);"],
*[style*="background: rgba(15, 15, 15, 0.6);"],
*[style*="background: black; opacity: 0.8;"] {
  background: rgba(0, 0, 0, 0.2) !important;
  -webkit-backdrop-filter: grayscale(60%);
  backdrop-filter: grayscale(60%);
}