@media (prefers-color-scheme: light) {
  :root {
      --color-scroller-thumb-alt: rgba(0, 0, 0, 0.22) !important;
      --color-scroller-thumb-hover-alt: rgba(0, 0, 0, 0.44) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --color-scroller-thumb-alt: rgba(255, 255, 255, 0.33) !important;
      --color-scroller-thumb-hover-alt: rgba(255, 255, 255, 0.66) !important;
  }
}

/* Hider */

.notion-help-button,
div.notion-ai-button {
  display: none !important;
}

/* Background */


/* font */

:root {
  --theme--font_serif: "New York", "Swift Neue LT Pro", "Seriflux", "Source Serif Pro", "Source Han Serif SC", serif;
  --theme--font_mono: "SF Mono", monospace;
  --theme--font_code: var(--theme--font_mono);
}

[style*="Georgia"] {
  font-family: var(--theme--font_serif) !important;
}

[style*="iawriter-mono"] {
  font-family: var(--theme--font_mono) !important;
}

[style*="SFMono-Regular"] {
  font-family: var(--theme--font_code) !important;
}

/* scroller */

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px !important;
  background-color: var(--color-scroller-thumb-hover-alt) !important;
  background-clip: padding-box !important;
  border: solid 4px transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  border: solid 2px transparent !important;
}