@media (prefers-color-scheme: light) {
  :root {
      --color-scroller-thumb-alt: rgba(0, 0, 0, 0.22) !important;
      --color-scroller-thumb-hover-alt: rgba(0, 0, 0, 0.44) !important;
      --color-fake-vibrancy-menu: rgba(255, 255, 255, 1) !important;
      --color-fake-vibrancy-windows: rgba(248, 248, 248, 1) !important;
      --shadow-menu-alt: rgba(0, 0, 0, 0.3) 0px 0px 0px 0.5px,
        rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important;
      --shadow-windows-alt: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px,
        rgba(0, 0, 0, 0.4) 0px 36px 100px 0px !important;
      --border-menu-alt: rgba(255, 255, 255, 0) !important;
      --border-windows-alt: rgba(255, 255, 255, 0) !important;
      --frame-background: rgba(255, 255, 255, 0.6);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --color-scroller-thumb-alt: rgba(255, 255, 255, 0.33) !important;
      --color-scroller-thumb-hover-alt: rgba(255, 255, 255, 0.66) !important;
      --color-fake-vibrancy-menu: rgba(0, 0, 0, 1) !important;
      --color-fake-vibrancy-windows: rgba(20, 20, 20, 1) !important;
      --shadow-menu-alt: rgba(0, 0, 0, 0.9) 0px 0px 0px 0.5px,
        rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important;
      --shadow-windows-alt: rgba(0, 0, 0, 0.4) 0px 0px 3px 0px,
        rgba(0, 0, 0, 0.4) 0px 36px 100px 0px !important;
      --border-menu-alt: rgba(255, 255, 255, 0) !important;
      --border-windows-alt: rgba(255, 255, 255, 0) !important;
      --frame-background: rgba(255, 255, 255, 0.05);
  }
}

/* window */

.notion-app-inner,
.notion-sidebar-container,
style attribute,
.notion-cursor-listener,
body,
body.notion-body,
.notion-update-sidebar,
.notion-update-sidebar>*,
.notion-update-sidebar>*>*,
#notion-app > div > div:nth-child(1) > div > div:nth-child(2) > header {
  background: none !important;
}

/*.notion-topbar,
.notion-sidebar-container {
  -webkit-app-region: drag;
}

.notion-topbar-share-menu,
.notion-topbar-comments-button,
.notion-topbar-updates-button,
.notion-topbar-favorite-button,
.notion-topbar-more-button,
.notion-open-sidebar,
.notion-close-sidebar,
.notion-sidebar {
  -webkit-app-region: no-drag;
}*/

/* main*/

.notion-frame {
  background: var(--frame-background) !important;
  border-radius: 8px 8px 0px 0px !important;
}

.pseudoSelection,
.pseudoSelection > * > * > * > * > img {
  border-radius: 8px 8px 0px 0px !important;
}

/* Hider */

.notion-help-button,
div.notion-ai-button {
  display: none !important;
}

/* Background */


/* font */

:root {
  --theme--font_serif: "New York", "Swift Neue LT Pro", "Seriflux", "Source Serif Pro", "Source Han Serif SC", serif;
  --theme--font_mono: "SF Mono", monospace;
  --theme--font_code: var(--theme--font_mono);
}

[style*="Georgia"] {
  font-family: var(--theme--font_serif) !important;
}

[style*="iawriter-mono"] {
  font-family: var(--theme--font_mono) !important;
}

[style*="SFMono-Regular"] {
  font-family: var(--theme--font_code) !important;
}

/* scroller */

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px !important;
  background-color: var(--color-scroller-thumb-hover-alt) !important;
  background-clip: padding-box !important;
  border: solid 4px transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  border: solid 2px transparent !important;
}

/* General Menu */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;"] {
  background-color: var(--color-fake-vibrancy-menu) !important;
  border-radius: 8px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: var(--border-menu-alt) !important;
  box-shadow: var(--shadow-menu-alt) !important;
}

/* Quick Search */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;"] {
  background-color: var(--color-fake-vibrancy-windows) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: var(--border-windows-alt) !important;
  box-shadow: var(--shadow-windows-alt) !important;
}

/* settings */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;"] {
  background-color: var(--color-fake-vibrancy-windows) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: var(--border-windows-alt) !important;
  box-shadow: var(--shadow-windows-alt) !important;
}

/* database preview */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.016) 0px 0px 0px 1px, rgba(15, 15, 15, 0.03) 0px 3px 6px, rgba(15, 15, 15, 0.06) 0px 9px 24px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;"] {
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: var(--border-windows-alt) !important;
  box-shadow: var(--shadow-windows-alt) !important;
}

/* the black mask */

*[style*="background: rgba(0, 0, 0, 0.4);"],
*[style*="background: rgba(15, 15, 15, 0.8);"],
*[style*="background: rgba(15, 15, 15, 0.6);"],
*[style*="background: black; opacity: 0.8;"] {
  background: rgba(0, 0, 0, 0.2) !important;
}