@media (prefers-color-scheme: light) {
  :root {
      --color-scroller-thumb-alt: rgba(0, 0, 0, 0.22) !important;
      --color-scroller-thumb-hover-alt: rgba(0, 0, 0, 0.44) !important;
      --color-fake-vibrancy-menu: rgb(247, 247, 247) !important;
      --color-fake-vibrancy-windows: rgba(248, 248, 248, 1) !important;
      --shadow-menu-alt: rgba(0, 0, 0, 0.3) 0px 0px 0px 0.5px,
        rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important;
      --shadow-windows-alt: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px,
        rgba(0, 0, 0, 0.4) 0px 36px 100px 0px !important;
      --border-menu-alt: rgba(255, 255, 255, 0) !important;
      --border-windows-alt: rgba(255, 255, 255, 0) !important;
      --frame-background: rgba(255, 255, 255, 0.6);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --color-scroller-thumb-alt: rgba(255, 255, 255, 0.33) !important;
      --color-scroller-thumb-hover-alt: rgba(255, 255, 255, 0.66) !important;
      --color-fake-vibrancy-menu: rgb(44, 44, 44) !important;
      --color-fake-vibrancy-windows: rgb(44, 44, 44) !important;
      --shadow-menu-alt: rgba(0, 0, 0, 0.9) 0px 0px 0px 0.5px,
        rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important;
      --shadow-windows-alt: rgba(0, 0, 0, 0.4) 0px 0px 3px 0px,
        rgba(0, 0, 0, 0.4) 0px 36px 100px 0px !important;
      --border-menu-alt: rgba(255, 255, 255, 0) !important;
      --border-windows-alt: rgba(255, 255, 255, 0) !important;
      --frame-background: rgba(255, 255, 255, 0.05);
  }
}

/* window */

.cet-title{
  display: none !important;
}

.cet-titlebar, .cet-title{
  color:var(--color-scroller-thumb-hover-alt) !important;
}

.cet-control-icon>svg{
  fill:var(--color-scroller-thumb-hover-alt)  !important;
}


.cet-menubar {
  font-family: var(--theme--font_sans) !important;
  margin-left: 10px !important;
  margin-top: 5px !important;
}


#notion-app{
  height: 100% !important;
}

aside {
  border:none !important;
}

div[aria-label="Side Peek"] {
  top: 31px !important;
}


/* General Menu */

div.cet-menubar-menu-container {
  background-color: var(--color-fake-vibrancy-menu) !important;
  border-radius: 8px !important;
  border:none !important;
}

.keybinding,
.cet-action-label {
  font-family: var(--theme--font_sans) !important;
  color: var(--color-scroller-thumb-hover-alt) !important;
}

.cet-menu-item-icon {
  display: none;
}

.notion-sidebar-container{
  box-shadow: none !important;
}

div.cet-icon {
  display: none;
}

.notion-app-inner,
html,
body {
  background: none !important;
}

.notion-app-inner,
.notion-sidebar-container,
style attribute,
.notion-cursor-listener,
body,
body.notion-body,
.notion-update-sidebar,
.notion-update-sidebar>*,
.notion-update-sidebar>*>*,
header {
  background: none !important;
}

aside > * > * > * > * > * > * > * > * > * > *,
aside > * > * > * > * > * > * > * > * > *,
aside > * > * > * > * > * > * > * > *,
aside > * > * > * > * > * > * > *,
aside > * > * > * > * > * > *,
aside > * > * > * > * > *,
aside > * > * > * > *,
aside > * > * > *,
aside > * > *,
aside > *,
aside {
  background: none !important;
}

.notion-update-sidebar-tab-comments-discussion-item {
  background: none !important;
}

div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller

div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > * > * > * > * > * > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > * > * > * > * > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > * > * > * > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > * > * > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > * > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > * > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller > *,
div.notion-scroller.vertical.notion-update-sidebar-tab-comments-comments-scroller {
  background: none !important;
}

/* main*/

.notion-frame {
  background: var(--frame-background) !important;
  border-radius: 8px 8px 0px 0px !important;
}

.pseudoSelection,
.pseudoSelection > * > * > * > * > img {
  border-radius: 8px 0px 0px 0px !important;
}

/* Hider */

.notion-help-button,
div.notion-ai-button {
  display: none !important;
}

/* Background */


/* Fonts */

:root {
  --theme--font_sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", sans-serif;
  --theme--font_serif: "Seriflux", Lyon-Text, Georgia, "Songti SC", SimSun, serif;
  --theme--font_mono: iawriter-mono, Nitti, Menlo, Courier, monospace;
  --theme--font_code: var(--theme--font_mono);
}

[style*="Segoe UI"] {
  font-family: var(--theme--font_sans) !important;
}

[style*="Georgia"] {
  font-family: var(--theme--font_serif) !important;
}

[style*="iawriter-mono"] {
  font-family: var(--theme--font_mono) !important;
}

[style*="SFMono-Regular"] {
  font-family: var(--theme--font_code) !important;
}


/* scroller */

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px !important;
  background-color: var(--color-scroller-thumb-hover-alt) !important;
  background-clip: padding-box !important;
  border: solid 4px transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  border: solid 2px transparent !important;
}

/* General Menu */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;"] {
  background-color: var(--color-fake-vibrancy-menu) !important;
  border-radius: 8px !important;
  border:none !important;
}

/* Quick Search */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;"] {
  background-color: var(--color-fake-vibrancy-windows) !important;
  border-radius: 8px !important;
  border:none !important;
}

/* settings */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;"] {
  background-color: var(--color-fake-vibrancy-windows) !important;
  border-radius: 8px !important;
  border:none !important;
}

/* database preview */

.notion-light-theme *[style*="box-shadow: rgba(15, 15, 15, 0.016) 0px 0px 0px 1px, rgba(15, 15, 15, 0.03) 0px 3px 6px, rgba(15, 15, 15, 0.06) 0px 9px 24px;"],
.notion-dark-theme *[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;"] {
  background-color: var(--color-fake-vibrancy-windows) !important;
  border-radius: 8px !important;
  border:none !important;
}

/* the black mask */

*[style*="background: rgba(0, 0, 0, 0.4);"],
*[style*="background: rgba(15, 15, 15, 0.8);"],
*[style*="background: rgba(15, 15, 15, 0.6);"],
*[style*="background: black; opacity: 0.8;"] {
  background: rgba(0, 0, 0, 0.15) !important;
}